.top_section{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 30px 90px;
    background-color: var(--color);
    color: var(--color_text_ligth);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    border-bottom: 2px solid var(--color_dark);
  }
  ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
   #logo{
    height: 150px;
    width: auto;
  }
li{
    list-style-type: none;
}
 a{
    color: var(--color_dark);
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
 }
 a:hover{
  padding: 8px 8px;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: 2px 2px 2px ;
 }
 /* .logo a{
color: var(--black);
 } */
 .logo a:hover{
  box-shadow: none;
 }

 .log_in, .dropbtn{
    padding: 8px 8px;
    background-color: var(--color);
    color: var(--color_dark);
    border: 2px solid var(--color_dark);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.3s;
 }

 .log_in:hover, .dropbtn:hover{
  color: var(--color_lighter);
 box-shadow: 2px 2px 2px ;
 }
 /* kalbos keitimas */
  /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: var(--color_lighter);
   min-width: 30px;
   border-radius: var(--border-radius);
   color: var(--color_lighter);
   z-index: 1;
 }
 /* Links inside the dropdown */
 .dropdown-content a {
   color: var(--color_dark);
   background-color: var(--color_lighter);
   border-radius: var(--border-radius);
   padding: 6px 6px;
   text-decoration: none;
   display: block;   
 }
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {
  background-color: var(--color_lighter);
  color: var(--color_dark);
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 3px ;
}
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
   display: block;
   border-radius: var(--border-radius);
 }